---
import PlotFigure from "../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";
import penguin from "../assets/penguin.json";
---

<h1>Exemple Plot avec Astro : Penguins</h1>

<PlotFigure
  options={{
    marks: [
      Plot.dot(penguin, {
        x: "flipper_length_mm",
        y: "body_mass_g",
        stroke: "species"
      })
    ]
  }}
/>